body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.header a {
    color: rgb(255, 255, 255);
}


/* header */

.header {
    top: 0px;
    position: absolute;
    z-index: 3;
}

.header hr {
    display: none;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* background-color: #fff; */
}

.header li a {
    display: block;
    text-decoration: none;
}

.header li a:hover hr,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header li:hover hr {
    display: block;
    margin: 0px;
    opacity: 100%;
    border: 0.5px solid white;
}

.header li:hover a {
    color: white;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* Giangdt start*/

.spacebw {
    justify-content: space-between;
}


/*Giangdt end*/


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li {
        padding: 10px 0px;
        margin-right: 55px;
    }
    .header li a {
        padding: 0px;
    }
    .header .menu {
        clear: none;
        /* float: right; */
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}