    @font-face {
        font-family: saira;
        src: url('../fonts/saira.ttf');
    }
    
    .container {
        font-family: 'saira';
    }
    
    .containerdm {
        width: 20%;
    }
    
    .san-pham {
        font-family: 'saira';
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    ul {
        list-style-type: none !important;
    }
    
    .danhmuc {
        width: 20%;
    }
    
    ul li a {
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .mua-ngay {
        float: left;
    }
    
    .them-vao-gio-hang {
        float: right;
    }
    
    .san-pham button {
        font-size: 14px;
        border: 0.5px solid black;
        border-radius: 4px;
        background-color: rgb(235, 158, 64);
        margin-left: 5px;
    }
    
    h5 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .img-sp img {
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid;
    }
    /*
title danh mục
*/
    
    .tx {
        margin: 10px;
        font-family: saira;
        font-weight: 700;
    }