.boxcenter {
    margin: auto;
    width: 80%;
}

.box {
    max-width: 500px;
    margin: 0 auto;
}

.talct {
    text-align: center;
}

.mrl10 {
    margin-left: 10px;
}

.mr20 {
    margin: 20px;
}

.mrbt10 {
    margin-bottom: 10px;
}

.pd10 {
    padding: 10px;
}

.pdl10 {
    padding-left: 10px;
}

.boxcentter {
    margin-left: 10%;
}

* {
    box-sizing: border-box;
}