* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.header {
    background-color: aquamarine;
    border: 1px #090 solid;
    color: blue;
    border-radius: 5px;
}

.footer {
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

.boxcenter {
    width: 60%;
    margin: 0 auto;
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}


/*Menu*/

.menu {
    background-color: #ccc;
    color: #ccc;
    border-radius: 5px;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: wheat;
    font-size: 0.9vw;
}


/*end Menu*/

.row {
    float: left;
    width: 100%;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.headeradmin {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmdsuser table {
    width: 100%;
    border-collapse: collapse;
}

.frmdsuser table th {
    padding: 20px;
    background-color: #ccc;
}

.frmdsuser table td {
    padding: 10px 20px;
    border: 1px #ccc solid;
}

.frmcontent {
    padding: 20px 0px;
}