.boxcenter {
    width: 60%;
    margin: 0 auto;
}

.mb {
    margin-bottom: 20px;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: wheat;
    font-size: 0.9vw;
}

.row {
    float: left;
    width: 100%;
}

.headeradmin {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmduser table {
    width: 100%;
    border-collapse: collapse;
}

.frmduser table th {
    padding: 20px;
    background-color: #ccc;
}

.frmduser table td {
    padding: 10px 20px;
    border: 1px #ccc solid;
}